// Media Query Mixin

@mixin media-query($media-query) {
	$breakpoint-found: false;

	@each $breakpoint in $breakpoints {
		$name: nth($breakpoint, 1);
		$declaration: nth($breakpoint, 2);

		@if $media-query == $name and $declaration {
			$breakpoint-found: true;

			@media only screen and #{$declaration} {
				@content;
			}
		}
	}

	@if $breakpoint-found == false {
		@warn 'Breakpoint "#{$media-query}" does not exist';
	}
}

// Grid Breakpoints and Class Names

$grid-medium: 750px;
$grid-large: 990px;
$grid-tablet: 1280px;
$grid-widescreen: 1400px;

$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';
$tablet: 'tablet';

$breakpoints: (
		$small '(max-width: #{$grid-medium - 1})',
		$medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
		$medium-down '(max-width: #{$grid-large - 1})',
		$medium-up '(min-width: #{$grid-medium})',
		$large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
		$large-down '(max-width: #{$grid-widescreen - 1})',
		$large-up '(min-width: #{$grid-large})',
		$widescreen '(min-width: #{$grid-widescreen})',
		$tablet '(max-width: #{$grid-tablet})'
);

// Global SCSS Variables

// colors

:root {
	--color-white: #fdfdfd;
	--color-black: #393e46;
	--color-blue-dark: #61b0f5;
	--color-blue-light: #1fb6f2;
	--color-green: #84c5ae;
	--color-red: #f44336;

	--color-white-hover: #f1f1f1;
	--color-black-hover: #7b8189;
	--color-blue-dark-hover: #4ea5f1;
	--color-blue-light-hover: #1ba9e2;
	--color-green-hover: #97ceba;
	--color-red-hover: #fd5649;
}

// fonts

$font_saira: 'Saira', sans-serif;
$font_noto: 'NotoSans', sans-serif;

// transitions

$transition_2ms: .2s;
$transition_4ms: .4s;

