.mods {
	padding: 20px 0;

	.mods__wrapper {
		display: flex;
		margin-bottom: 30px;
		align-items: center;

		svg {
			height: 35px;
			width: 35px;
			fill: var(--color-green);
			margin-right: 10px;
		}
	}

	.mods__title {
		h1 {
			font-size: 22px;
		}
	}

	.mods__tile {
		height: 300px;
		width: 200px;
		background-color: var(--color-white);
		box-shadow: 0px 0px 10px -5px var(--color-black);
		border-radius: 15px;
		margin: 0 5px;
		display: flex;
		justify-content: center;

		img {
			object-fit: contain;
			object-position: top;
			border-radius: 15px;
			padding: 5px;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.mods__container {
		display: flex;
	}
}